<%- include("partials/navbar.ejs") %>

<div class="container mt-5">
    <form action="/list" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <textarea id="content" class="form-control" name="content" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>
