<%- include("partials/navbar.ejs") %>

<h2><%= post.title %></h2>
<p><%= post.content %></p>

<button onclick="window.location.href='/list'">Back to list</button>

<%- include("partials/footer.ejs") %>
